{% extends 'base.html.twig' %}
{% block title %}Inscription
{% endblock %}
{% block body %}
	<div class="container mb-4">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<h1>Page d'inscription</h1>
		{{ form(registrationForm) }}
		</div>
		<br>
	{% endblock %}
