{% extends 'base.html.twig' %}

{% block title %}Edit Job{% endblock %}

{% block body %}
    <h1>Editer l'annonce</h1>

    {{ include('job/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('job/index') }}">Vers la liste des annonces</a>

    {{ include('job/_delete_form.html.twig') }}
{% endblock %}
