{% extends 'base.html.twig' %}
{% block title %}
	Page d'Accueil
{% endblock %}
{% block body %}
<div class="container">
<h1 class="text-center">Bienvenue sur le site de recrutement</h1>
<div class="d-flex justify-content-around center">
{# <button type="button" class="btn btn-primary"><a href="{{ path('security.demand') }}" class="text-decoration-none">Espace candidat</a></button>
<button type="button" class="btn btn-primary"><a href="{{ path('security.demand') }}" class="text-decoration-none">Espace recruteur</a></button> #}
</div>
</div>
{% endblock %}