{% extends 'base.html.twig' %}
{% block title %}
	Page d'Accueil
{% endblock %}
{% block body %}
<div class="container"">
<div class="mt-4">{% include "partials/_job_img.html.twig" %}"</div>
<h1 class="text-center mt-4 text-primary rounded p-4" style="z-index: 2; position: absolut; top: 50%; left: 50%; background-color: white;">Bienvenue sur le site de recrutement</h1>

<div class="d-flex justify-content-around center">
</div>
</div>
{% endblock %}