{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier le profil</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% if app.user  %}
			{{ form_start(recr_form) }}
			{{ form_end(recr_form) }}
			<br>
			{{ include('user/_delete_form.html.twig') }}

			<br>
		{% endif %}

	</div>
{% endblock %}
